*{
    font-family: verdana;
    font-size: 0.98em;
    
}
header{
    padding-top: 1px;
    margin-top: 1px;
    background-color: #3d60a0;
}
h1{
        font-size: 300%;
        color: white;
    margin-left: 20%;
}
body{
    background-color:#e9ecf0;
}
h2{
    text-decoration: underline;
}
.masinformacion{
            margin-left: 20%;
}
footer{
    background-color: floralwhite;

}
ul{
    list-style: none;
    
}