*{
    font-family: verdana;
    list-style: none;
    margin: 0;
}
body{
    background-color: aliceblue;
}
header{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding-top:1em;
    padding-bottom: 1em;
    margin:;
}
nav > ul{ 
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1vh;
    margin:0;
    
}
nav{

    background-color: aquamarine;
    height: 5vh;
}
aside{
    vertical-align: top;
    background-color: cadetblue;
    height: 48vh;
    width: 35%;
    display:inline-flex;
    margin: 0;
    
}
aside > h2 {
    display: flex;
    align-items: center;
     
    width: 100%;
    height: 100%;
    
}
section{
    
    margin: 0;
    display: inline-flex;
    background-color: bisque;
    margin-left: 0;
    height: 48vh;
    width: 65%;
    align-items: center;
    justify-content: center;
}
article{
    margin: 0;
    width: 50vw;
    height: 30vh;
    background-color: antiquewhite;
}
div {
    height: 100%;
}
div > ul {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: 100%;
}

h2{
    justify-content: center;
    display: flex;
    align-self:flex-start;
    }

footer{
    background-color:aquamarine;
    text-align: center;
}
#contenedor {
    display: flex;
}